.images{
    width: 300px;
    height: 300px;
    border: 1px solid orange;
}
.recipe{
    width: 300px;
    height: 450px;
    border: 1px solid orange;
    margin-bottom: 30px;
     padding:10px ; 
    margin-left: 40px;
    margin-right: 0px;
}
.recipes{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    margin-left:160px;
}
.name{
    
    font-size: 22px;
}
b{
    margin-right: 10px;
}
.heading{
    text-align: center;
    margin-top: 150px;
}
.image
{
    width:50px;
    height:50px;
    border-radius: 40px;
    margin: 6px 0px 5px 200px;
}
.nav{
    background-color:rgb(220, 164, 11);
    width:100%;
    position: fixed;
    top:0;
    left:0;
}



.topics{
    margin-left:35px;
    font-size: 17px;
    margin-bottom:10px;
}
.searchbar{
    width:187px;
    height:30px;
    margin-left:700px;
    margin-top: 15px;
    border: none;
    margin-bottom: 10px;
}
.firstContainer{
    display: flex;
}
.secondContainer{
    display: flex;
}
.search{
    width:35px;
    height: 32px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.loginlogo{
    width:50px;
    height:50px;
    border-radius:25px;
    margin-top:6px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.dropbtn {
    color: rgb(7, 7, 7);
    font-size: 17px;
    border: none;
    background: none;
    margin-left:35px;
    margin-bottom:10px;

  }
  .homepg{
    margin-left:200px;
    margin-bottom:10px;
    font-size: 17px;
  }
  .drop{
    color: rgb(7, 7, 7);
    font-size: 17px;
    border: none;
    background: none;
    margin-left: 38px;
    margin-bottom:10px;


  }
  
   .dropdown {
    position: relative;
    display: inline-block;
  } 
  
  .dropdown-content {
    display: none;
    position: absolute; 
    background-color: #f1f1f1; 
    min-width: 160px; 
    margin-left: 40px;
  }
  .dropdownContent {
    display: none;
    position: absolute; 
    background-color: #f1f1f1; 
    min-width: 160px; 
    margin-left: 40px;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
    font-size: 15px;
     
     
  }
  .dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
    font-size: 15px;
     
     
  }
  
  
   .dropdown-content a:hover {background-color: #ddd;} 
   .dropdownContent a:hover {background-color: #ddd}
   .dropdown:hover .dropdown-content {display: block;} 
   .dropdown:hover .dropdownContent  {display: block;}

   .login{
    font-size: 17px;
    margin-left: 35px;
    }
    .footerpart{
        width:100%;
        height:50%;
        background-color:rgb(220, 164, 11);
        margin-top: 70px;
        /* margin-bottom: 50px; */
        display: flex;
    }
    .footerimage{
        width:100px;
        height: 100px;
        margin:45px 0px  20px 80px;
        border-radius: 50px;
        
    }
    .logopart{
        width:250px;
        height: 200px;
        margin-left: 250px;
        margin-bottom: 30px;
    }
    .sign{
        width: 150px;
        padding: 10px;
        margin-left: 55px;
        
    }
    .listpart{
        margin-top: 58px;
        margin-left: 200px;
    }
    .types{
        margin-bottom: 20px;
    }
    .listparts{
        margin-top: 68px;
        margin-left: 200px;
    }
    .border{
        width: 99.89%;
        border: 1px solid black;
        background-color:rgb(220, 164, 11);
        
    
    }
    .followus{
        background-color:rgb(220, 164, 11);
        opacity: 0.3;
        
    }
    .follow{
        text-align: center;
        color:black;
    }
    .followImg{
        width: 50px;
        height: 50px;
        margin-left: 50px;
        margin-bottom: 20px;
        border-radius: 60px;
    }
    .specialRecipe{
        width:300px;
        height: 300px;
        margin-right: 78px;
    }
    .foodName{
        font-size: 25px;
        line-height: 30px;
    }
    .line{
        color:rgb(84, 82, 82);
        line-height: 40px;
        font-size: 18px;
    }
    .star{
        width:25px;
        height: 25px;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    
    