.main{
    width: 400px;
    height:400px; 
    background-size: cover;
    margin:auto;
    margin-left: 470px;
    margin-top: 150px;
    position: fixed;
    background-image: url("../../public/Resources/food1.jpg");
}
.details{
    background-color: white;
    width:355px;
    height:300px;
    margin-left: 210px;
    margin-top:54px;
    
    border:1px solid black;
}
.userName{
    margin-top: 40px;
    margin-left:34px;
}
.button
{
    margin-top:20px;
    padding:6px;
    margin-left: 138px;
    width:90px;
    border-radius: 30px;
    background-color: rgb(246, 164, 11);
    margin-bottom: 5px;
}
input
{
    padding:7px 10px;
    font-size:16px;
    margin-left:24px;
    width:280px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.text
{
    margin-left:34px;
    margin-top:10px;
}
body{
    background-color: rgb(246, 164, 11);
    width: 100%;
    height: 100%;
}
.nextPage{
    display: flex;

}
p{
    margin-right: 90px;
    margin-left: 30px;
}