.main{
    width: 500px;
    height:500px;

    background-size: cover;
    margin:auto;
    margin-left: 470px;
    margin-top: 130px;
    position: fixed;
    background-image: url("../../public/Resources/food.jpg");
}
.details{
    background-color: white;
    width:355px;
    height:370px;
    margin-left: 300px;
    margin-top:68px;
    
    border:1px solid black;
}
.userName{
    margin-top: 45px;
    margin-left:34px;
}
.button
{
    margin-top:30px;
    padding:6px;
    margin-left: 144px;
    width:90px;
    border-radius: 30px;
    background-color: rgb(246, 164, 11);
}
input
{
    padding:7px 10px;
    font-size:16px;
    margin-left:24px;
    width:280px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.text
{
    margin-left:34px;
    margin-top:10px;
}
body{
    background-color: rgb(246, 164, 11);
    width: 100%;
    height: 100%;
}
p{
    margin-left:90px;
}
